
<div class="row">

	<div class="col-md-8 left_cont" >

		<div class="article_col">

	           
               <%= render partial: "cards/article_header", locals: {post: @post} %>
			
          

	        <div class="article_content">
                 <%= raw( @post.body.gsub(/^\s*[^<].*/, '<p class="extra_p">\&</p>') ) %>
	             <!-- hvhv  <%= raw( @post.body.gsub('\n\r', '<br>') ) %> -->

	        </div>


        </div>
        <div class="arrow-up"></div>
         <div class="article_arthor">
            <a href="/rohan">
         	<img src="/assets/profile.jpg">

         	<h3>Rohan Raja</h3>
         </a>
         	<p>I am a technology enthusiast and a die hard programmer. Love to learn, share and apply information technology hacks to find solutions. </p>
	        	
	        </div>


            <div class="ad-container-leaderboard" style="margin-top:20px;">
                <%= render partial: "cards/ad_leaderboard" %>
            </div>



	         <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tutsville'; // required: replace example with your forum shortname
        var disqus_developer = 1;
     //   var disqus_identifier = '<%= @post.id %>';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

    





	</div>

	<div class="col-md-4 recom">
	<!-- 	<div class="borderdiv"></div> -->
		
	<div class="recwrapper">

          <h2 class="topic_head" style="height : 30px; font-size: 30px; padding: 0px;">Recommended</h2>
	

                <% Post.all.order('created_at DESC').limit(5).each do |p| %>

                  <%= render partial: "cards/rec_card", locals: {post: p} if p.id != @post.id  %>

                <% end %>
                
              
                <%= render partial: "cards/emailcard" %>

                <div class="ad-container">
                    <%= render partial: "cards/ad_skyscrapper" %>
                </div>


		</div>




	</div>


</div>

