

<div class="row topic_mainrow">

	<div class="col-md-8 left_cont python_css topic_cont" >

    <h2 class="topic_head"><%= @cat.name %></h2>


   <%= render partial: "cards/article_list", locals: {posts: @posts} %>

   <% if @posts.count == 0 %> 
   <h3 class="topic_req"><a href="/request" class="btn btn-primary btn-large">Request Tutorials for <%= @cat.name %></a></h3>

   <% end %>

	</div>

	<div class="col-md-4 recom">
		
	<div class="recwrapper">

<% Category.all.order('orderid ASC').each do |p| %>

      <%= render({partial: "cards/langcard", locals: {cat: p}}) if p.name != @cat.name %>

    <% end %>

       <%= render partial: "cards/emailcard" %>

       


		</div>




	</div>


</div>

