<div class="page-header">
  <%= link_to new_request_text_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Request text
  <% end %>
  <h1>Listing request_texts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Website</th>
            <th>Body</th>
            <th>Ip</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @request_texts) do |request_text| %>
            <td><%= request_text.name %></td>
            <td><%= request_text.email %></td>
            <td><%= request_text.website %></td>
            <td><%= request_text.body %></td>
            <td><%= request_text.ip %></td>
            <td><%= link_to 'Show', request_text %></td>
        <td><%= link_to 'Edit', edit_request_text_path(request_text) %></td>
        <td><%= link_to 'Destroy', request_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
