<% typearr = ["", "Tutorial", "Article", "Snippet"] %>

<div class="article_type <%= typearr[post.active] %>"><%= typearr[post.active] %></div>
<center>

<a href="<%= post.link %>" style="color: rgb(82, 82, 82) !important;text-decoration: none;"><h3 class="article_title">
<%= post.title %>
</h3></a>
</center>
<br>
<div class="article_header">

	<a href="<%= post.link %>"  ><img src="/assets/post_imgs/<%= post.imgurl %>" class="headimg img-responsive"></a>

	<b class="hidden-xs"><%= post.categories.first.field %> - <span><a href="<%= post.categories.first.link %>"><%= post.categories.first.name %></a></span> 
		<b class="pull-right datehead"><%= post.created_at.strftime("%d %b, %Y") %></b>
	</b>

	<p class="article_overview"> <%= post.brief %></p>


</div>


