<center>

<a href="<%= "/" + post.categories.first.url_name + "/" + post.urltext %>" style="color: rgb(82, 82, 82) !important;"><h2 class="article_title">
<%= post.title %>
</h2></a>
</center>
<br>
<div class="article_header">

	<a href="<%= ("/" + post.categories.first.url_name + "/" + post.urltext) %>" ><img src="/assets/post_imgs/<%= post.imgurl %>" class="headimg"></a>

	<b><%= post.categories.first.field %> - <span><a href="/<%= post.categories.first.url_name %>"><%= post.categories.first.name %></a></span> </b>

	<p class="article_overview"> <%= post.brief %></p>


</div>