<div class="page-header">
  <%= link_to new_subs_email_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Subs email
  <% end %>
  <h1>Listing subs_emails</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @subs_emails) do |subs_email| %>
            <td><%= subs_email.email %></td>
            <td><%= link_to 'Show', subs_email %></td>
        <td><%= link_to 'Edit', edit_subs_email_path(subs_email) %></td>
        <td><%= link_to 'Destroy', subs_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
