<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta name="google-site-verification" content="hvKRAoDI1r5q2amvQnd1hRKq4oumZktLMq56tImO3BM" />

  <title><%= @title %></title>
  <link rel="icon" href="/assets/favicon.gif" type="image/gif" sizes="16x16">


  
  <meta property="og:image" content="http://algomuse.com<%= @face_url %>" />

  <meta name="description" content="<%= @meta_description %>">
  <meta name="author" content="Rohan Raja">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "bootstrap-ie" %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    params[:controller], media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=521589047915317";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- <a href="/"><img style="" src="/assets/backdrop.gif"></a> -->

  <div id="banner" >
  </div>
  
  
  <div class="navbar navbar-inverse navbar-moveable " id="nav_line">


    <div class="container">
      <div class="navbar-header">
         <!-- <a href="/"><img src="/assets/lessons.png" id="main_logo"></a> -->

         
         <div id="main_logo">
         <a href="/"><h1>Algomuse</h1></a>
         </div>

      </div>


      <div class="collapse navbar-collapse hidden-xs">
        <ul class="nav navbar-nav">

         <% Category.select(:field).distinct.each do |f| %>

          <li class="dropdown navli"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= f.field %></a>

            <ul class="dropdown-menu menu_dropdown">
              <% Category.where(:field => f.field).each do |c| %>

                <li onclick="window.location = '/<%= c.url_name %>'"><a href="/<%= c.url_name %>"><%= c.name %></a></li>

              <% end %>

              </ul>


          </li>

          <% end %>

          

          
          <li class="dropdown navli"><a href="/about">About</a></li>
        </ul>

      
          <input type="email" class="pull-right form-control searchbox" placeholder="Search" onkeyup="searchqry(this.value)"> 
          

      </div>


      <div class="collapse navbar-collapse" style="background:none !important;">
<div class="search_results pull-right">
           
          </div> 
      </div>

    </div>
  </div>
  <div class="container yield_container">
    <%= yield %>
  </div>
</body>

<script type="text/javascript">

var fixmeTop = $('#nav_line').offset().top; // Get initial position

var fbcardTop = $('.fbcard').offset().top - 70;

$(window).scroll(function() {            // Assign scroll event listener
   
    var currentScroll = $(window).scrollTop(); // Get current position
    if (currentScroll >= fixmeTop) { // Make it fixed if you've scrolled to it

        $('#nav_line').removeClass('navbar-moveable');
        $('#nav_line').addClass('navbar-fixed-top');




    } else {                

       

        $('#nav_line').addClass('navbar-moveable');
        $('#nav_line').removeClass('navbar-fixed-top');


    }

    if(currentScroll >= fbcardTop) {

      $('.fbcard').css('position', 'fixed');
      $('.fbcard').css('top', '50px');
      $('.fbcard').css('width', '312px');
    }
    else
    {
      $('.fbcard').css('position', 'relative');
      $('.fbcard').css('top', '0px');
    }


});



$( document ).ready(function() {

  $( ".searchbox" ).focus(function() {
    
    

  });  

  $( ".searchbox" ).focusout(function() {
  
    $('.search_results').fadeOut('medium');
    $( ".searchbox" ).val('');

  });


});


function searchqry(q)
{
  //
  //$('.search_results').css('display', 'block');//slideDown();


  $.get('/home/searchqry/' + q, function(data){


    if(data !='0')
    {
    $('.search_results').html(data);

      $('.search_results').slideDown();
    }
     else
        $('.search_results').fadeOut('fast');


  });

  if(q=='')
  {
    $('.search_results').fadeOut('fast');
  }


}


</script>

<!-- GOOGLE ANALYTICS CODE START -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47899355-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- GOOGLE ANALYTICS CODE END -->


<footer class="hidden-xs">

<!-- <div class="footblock"> -->

 <div class="footblock">



   
        <ul >
          <li> <a href="http://feeds.feedburner.com/algomuse/IOgc" target="_blank" >RSS
<!-- <img src="/assets/rss.png" width="50" height="50" style="opacity: 0.4;"> -->
</a>.</li>

          <!-- <li class=""><a href="#">About</a></li> -->
          <li class=""><a href="/feedback">Feedback</a></li>
          <li class=""><a href="/request">Request Tutorial</a></li>
          <li class=""><a href="/rohan" rel="author" >About Me</a></li>
          <li class=""><a href="/sitemap.xml">Sitemap</a></li>


          

          
        </ul>
      </div>
<!-- </div> -->

</footer>

</html>
